body {
    font-family: Arial, sans-serif;
    text-align: left;
}

.tabs {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.tab-buttons {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background: #f4f4f4;
    border: none;
    outline: none;
    text-align: center;
    transition: background 0.3s;
}

.tab-button.active {
    background: #ddd;
    border-bottom: 2px solid #272727;
}

.tab-button.hide {
    border: none;
    background: none;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

#search-bar {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 10px;
}

#search-input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 10px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.result-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.result-button:hover {
    background-color: rgb(182, 182, 182);
}