body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('images/wallpaper/wallpaperbg.jpg');
    background-attachment: fixed;
}

.tabs {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.tab-buttons {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background: #f4f4f4;
    border: none;
    outline: none;
    text-align: center;
    transition: background 0.3s;
}

.tab-button.active {
    background: #ddd;
    border-bottom: 2px solid #272727;
}

.tab-button.hide {
    border: none;
    background: none;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #FFFFFF;
}

#search-bar {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 10px;
}

#search-input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 10px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.result-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.result-button:hover {
    background-color: rgb(182, 182, 182);
}

#results {
    margin-bottom: 20px;
}

.result-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    padding: 14px 24px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    transition: background 200ms;
    background: transparent;
    color: #2e2e2e;
    box-shadow: 0 0 0 3px #000000 inset;
}

.item-info {
    position: relative;
    border: 3px solid #808080;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    padding: 1em;
    padding-top: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.item-info table, th, tr {
    border: 1px solid #808080;
    border-collapse: collapse;
}

.item-info th, tr {
    padding: 0.5em;
    text-align: center;
}

.item-info tr {
    height: 5em;
    word-break: keep-all;
    font-size: clamp(10px, 2vw, 16px);
}

.crafting-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.crafting-materials {
    height: 100%;
    width: 35%;
    margin-bottom: 2em;
    align-self: flex-start;
}

.crafting-materials-upgrade {
    height: 100%;
    width: 35%;
    margin-bottom: 2em;
    align-self: flex-start;
}

.details-box {
    display: flex;
    flex: 1;
    align-self: right;
    border: 1px solid #808080;
}

.flex-details-box {
    align-self: flex-end;
}

.areas-details {
    width: 75%;
    margin: 1em;
    align-self: left;
    overflow-x: auto;
}

.drops-details {
    width: 25%;
    margin: 1em;
    align-self: right;
    overflow-x: auto;
}

.sortable-table {
    width: 100%;
    border-collapse: collapse;
}

.material-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    padding: 14px 24px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    transition: background 200ms;
    background: transparent;
    color: #2e2e2e;
    box-shadow: 0 0 0 3px #000000 inset;
}

#remove-card {
    position: absolute;
    border: none;
    background: none;
    top: 2em;
    right: 2em;
    width: 3em;
    height: 3em;
    cursor: pointer;
}